:root{
    --padding: 8%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
.home{
    width: 100%;
    height: 100vh;
    background-image: url('Image 2.jpg');
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}
nav{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.4s;
}
nav ul li a:hover{
    color: gold;
}
.btn{
    background-color: rgb(255, 230, 0);
    font-weight: bold;
    color: #000;
    border-radius: 30px;
    padding: 0.81rem 1.87rem;
    text-decoration: none;
    border: 2px solid transparent;
}
.btn:hover{
    background-image:url('Image 2.jpg');
    color: #000;
    cursor: pointer;
    border: 2px solid gold;
    transition: 0.3s;
    transform: scale(1.05);
    
}
#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background:none;
    cursor: pointer;
    user-select: none;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
/*
.hamburger{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
}
.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: #000;
    position: relative;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}
*/
.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-texts{
    position: relative;
    bottom: 40px;
}
h1{
    font-size: 2.65rem;
    margin: 1.7rem 0;
    cursor: pointer;
}
h3{
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.social{
    margin-top: 3.5rem;
}
.social a{
    text-decoration: none;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
}
.social img:hover{
    transform: scale(1.2);
    transition: 0.4s;
}
.container-image{
    position: relative;
    width: 45%;
    height: 90%;
}
.container-image img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    translate: 0.7s;
}
.container-image:hover{
    transform: scale(1.05);
    transition: 0.4s;
}
.about{
    background-image: url('Image 2.jpg');
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about .container-img{
    width: 50%;
}
.about .container-img img{
    width: 80%;
    cursor: pointer;
}
.about .container-text{
    width: 35%;
}
p{
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
h5{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
.about .container-img img:hover{
    transform: scale(1.2);
    transition: 0.7s;
}
.services{
    background-image: url('Image 2.jpg');
    padding: 2rem var(--padding);
}
.text-center{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 250px;
    background-color: rgb(202, 172, 0);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    border: 2px solid transparent;
}
.card i{
    font-size: 3.12rem;
    text-align: center;
    margin: 2rem;
}
.card:hover{

    background-image: url('Image 2.jpg');
    border-radius: 20px;
    transition: 0.7s;
    transform:scale(1.1);
}
.box1{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.card1{
    width: 290px;
    background-color: rgb(202, 172, 0);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    border: 2px solid transparent;
}
.card1 i{
    font-size: 3.12rem;
    text-align: center;
    margin: 2rem;
}
.card1:hover{

    background-image: url('Image 2.jpg');
    border-radius: 20px;
    transition: 0.7s;
    transform:scale(1.1);
}
.skills{
    background-image: url('Image 2.jpg');
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-imgs{
    width: 35%;
}
.skills .container-imgs img{
    width: 90%;
    cursor: pointer;
}

.content-skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.skills .container-skills{
    width: 50%;
}

.skill{
    width: 70px;
    height: 50px;
    background-color: gold;
    border-radius: 20px;
    margin: 0.2rem 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill img{
    width: 65%;
}
.skill img:hover{
    transition: 0.4s;
    transform: scale(1.4);
}
footer{
    padding: 2rem var(--padding);
    background-image: url('Image 2.jpg');
}
footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .content-footer p{
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
footer .content-footer .par1{
    color: gold;
    margin-top: 1rem;
    cursor: pointer;
}
.skills .container-imgs img:hover{
    transform: scale(1.2);
    transition: 0.7s;
}
footer .content-footer p:hover{
    transform: scale(1.5);
    transition: 0.7s;
}

#menu.is-active span:nth-child(1){
    transform: translate(0px , -2px) rotate(45deg);
}
#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}
#menu.is-active span:nth-child(3){
    transform: translate(-3px , 3px) rotate(-45deg);
}
#menu.is-active span{
    background-color: #000;
}
@media screen and (max-width: 575px) {
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 13px;
    }
    .container-image{
        display: none;
    }
    nav > a {
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-image: url('Image 2.jpg');
        border-bottom: 1px solid #fff;
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('Image 2.jpg');
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    nav ul.is-active{
        display: block;
    }
    .container-texts {
        bottom: 0px;
    }
    .social{
        margin-top: 50px;
    }
    h3{
        margin-top: 50px;
    }
    #menu{
        display: block;
    }
    .about .container-img{
        display: none;
    }
    .about .container-text{
        width: 100%;
    }
    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .box1 {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .skills .container-imgs{
        display: none;
    }
    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width:70px;
        height: 50px;
    }
    footer .content-footer p {
        width: 100%;
    }
    footer .content-footer p:hover {
        transform: scale(1.05);
    }
}

@media screen and (min-width: 576px) and (max-width:767px){
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 13px;
    }
    .container-image{
        display: none;
    }
    nav > a {
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-image: url('Image 2.jpg');
        border-bottom: 1px solid #fff;
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('Image 2.jpg');
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    nav ul.is-active{
        display: block;
    }
    .container-texts {
        bottom: 0px;
    }
    .content{
        padding-top: 82px;
    }
    .social{
        margin-top: 30px;
    }
    h3{
        margin-top: 30px;
    }
    #menu{
        display: block;
    }
    .about .container-img{
        display: none;
    }
    .about .container-text{
        width: 100%;
    }
    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .box1 {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .skills .container-imgs{
        display: none;
    }
    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width:70px;
        height: 50px;
    }
    footer .content-footer p {
        width: 100%;
    }
    footer .content-footer p:hover {
        transform: scale(1.03);
    }
}


@media screen and (min-width: 768px) and (max-width:991px){
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 13px;
    }
    .container-image{
        display: none;
    }
    nav > a {
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-image: url('Image 2.jpg');
        border-bottom: 1px solid #fff;
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('Image 2.jpg');
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    nav ul.is-active{
        display: block;
    }
    .container-texts {
        bottom: 0px;
    }
    .social{
        margin-top: 50px;
    }
    h3{
        margin-top: 50px;
    }
    #menu{
        display: block;
    }
    .about .container-img{
        display: none;
    }
    .about .container-text{
        width: 100%;
    }
    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .box1 {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .skills .container-imgs{
        display: none;
    }
    .skills .container-skills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width:70px;
        height: 50px;
    }
    footer .content-footer p {
        width: 100%;
    }
    footer .content-footer p:hover {
        transform: scale(1.03);
    }
}


@media screen and (min-width: 992px) and (max-width:1279px){
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 13px;
    }
    .container-image{
        display: block;
    }
    .container-image img {
        height: auto;
        width: 100%;
    }
    nav > a {
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-image: url('Image 2.jpg');
        border-bottom: 1px solid #fff;
        z-index: 100;
    }
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        background-image: url('Image 2.jpg');
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;
    }
    nav ul.is-active{
        display: block;
    }
    .container-texts {
        bottom: 0px;
    }
    .social{
        margin-top: 50px;
    }
    h3{
        margin-top: 50px;
    }
    #menu{
        display: block;
    }
    .about .container-text{
        width: 60%;
    }
    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .box1 {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .skills .container-skills {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills .container-skills .content-skills {
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        width:70px;
        height: 50px;
    }
    footer .content-footer p {
        width: 100%;
    }
    footer .content-footer p:hover {
        transform: scale(1.03);
    }
}